<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Пример страницы</title>
  <link rel="stylesheet" href="/stylesheets/application.css" type="text/css">
</head>
<body>
<p>Страница на HTML5</p>
<p>Hello <%= greet_name %>!</p>
<form method="post" action="/change">
  <input name="name" type="text">
  <input value="Change name" type="submit">

</form>
</body>
</html>